:root {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.50');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.700');
    --primary-light: theme('colors.gray.500');
}

[data-theme='emerald'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.emerald.900');
    --accent-medium: theme('colors.emerald.700');
    --accent-light: theme('colors.emerald.500');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.900');
}

[data-theme='pink'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.pink.700');
    --accent-medium: theme('colors.pink.500');
    --accent-light: theme('colors.pink.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='rose'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.rose.700');
    --accent-medium: theme('colors.rose.500');
    --accent-light: theme('colors.rose.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='fuchsia'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.fuchsia.700');
    --accent-medium: theme('colors.fuchsia.500');
    --accent-light: theme('colors.fuchsia.400');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='red'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.red.700');
    --accent-medium: theme('colors.red.600');
    --accent-light: theme('colors.red.400');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='orange'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.orange.700');
    --accent-medium: theme('colors.orange.500');
    --accent-light: theme('colors.orange.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='sky'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.sky.700');
    --accent-medium: theme('colors.sky.500');
    --accent-light: theme('colors.sky.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='ambar'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.amber.700');
    --accent-medium: theme('colors.amber.500');
    --accent-light: theme('colors.amber.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='teal'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.teal.700');
    --accent-medium: theme('colors.teal.500');
    --accent-light: theme('colors.teal.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='indigo'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.indigo.900');
    --accent-medium: theme('colors.indigo.700');
    --accent-light: theme('colors.indigo.500');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='cyan'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.cyan.700');
    --accent-medium: theme('colors.cyan.500');
    --accent-light: theme('colors.cyan.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

[data-theme='lime'] {
    --background: theme('colors.white');
    --background-secondary: theme('colors.gray.100');
    --accent-dark: theme('colors.lime.700');
    --accent-medium: theme('colors.lime.500');
    --accent-light: theme('colors.lime.300');
    --primary-dark: theme('colors.gray.900');
    --primary-medium: theme('colors.gray.900');
    --primary-light: theme('colors.gray.700');
}

html,
body {
    color: #000;
    background: #fff;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: #fff;
    background: #000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;